{% extends "base.html" %}

{% block content %}
<div class="admin-container">
    <h1 class="text-3xl font-semibold mb-4 text-center text-white">Admin Panel</h1>

    <form method="POST" action="{{ url_for('edit_user') }}" class="flex flex-col mb-4 w-1/5">
        <label class="font-bold text-white">System prompt</label>
        <textarea id="message-input" type="text" name="default_system_prompt"
            rows="4">{{ user.default_system_prompt if user.default_system_prompt }}</textarea>
        <button type="submit" class="button-default">Update</button>
    </form>

    <form method="POST" action="{{ url_for('tags') }}" class="flex flex-col mb-4 ">
        <label class="font-bold text-white">Tag</label>
        <input name="text" type="text" class="small-input"></input>
        <button type="submit" class="button-default">Add
            tag</button>
    </form>

    <a href="{{ url_for('download_db') }}" class="button-default">
        Download Database
    </a>

    <a href="{{ url_for('logout') }}" class="bg-red-500 text-white p-2 rounded-xl text-center mt-4">
        Log Out
    </a>
</div>
{% endblock %}