<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLM Logger</title>

    <script src="{{ url_for('static',filename='scripts/tailwind.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/socketio.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/marked.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/dompurify.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/chat.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css"
        integrity="sha512-Jk4AqjWsdSzSWCSuQTfYRIF84Rq/eV0G2+tu07byYwHcbTGfdmLrHjUSwvzp5HvbiqK4ibmNwdcG49Y5RGYPTg=="
        crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"
        integrity="sha512-D9gUyxqja7hBtkWpPWGt9wfbfaMGVt9gnyCvYa+jojwwPHLCzUm5i8rpk7vD7wNee9bA35eYIjobYPaQuKS1MQ=="
        crossorigin="anonymous"></script>

    {{ moment.include_moment() }}
    {{ moment.locale("en-gb") }}
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="absolute left-1/2 top-20 transform -translate-x-1/2 -translate-y-1/2 z-10 flex flex-col gap-2">
        {% for message in messages %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded flex justify-between gap-2"
            role="alert">
            <strong class="font-bold">Error</strong>
            <span class="block sm:inline">{{ message[1] }}</span>
            <span class="cursor-pointer" onclick="this.parentElement.remove();">
                <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <title>Close</title>
                    <path
                        d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
                </svg>
            </span>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if user %}
    <div class="sidebar">
        {% include "sidebar-chats.html" %}
    </div>
    {% endif %}

    {% block content %}{% endblock %}

    {% if chat %}
    <div class="sidebar">
        {% include "sidebar-options.html" %}
    </div>
    {% endif %}
</body>

</html>