{% extends "base.html" %}

{% block content %}
<div id="chat-container">
    <div id="message-container">
        {% for message in messages %}
        <div id="message-{{ message.id }}"
            class="message {{ 'user-message' if message.user_message else 'ai-message' }}">
            <div class="message-text markdown-content">{{ message.text }}
            </div>

            <hr class="divider message-hr">
            <span class="message-footer">{{ moment(message.created_at).calendar() }}</span>
            <a class="message-footer message-footer-clickable"
                href="{{ url_for('chats', chat_id=chat.id, message_id=message.id) }}">{{ message.id }}</a>

            {% if not chat.completed %}
            {% if message.user_message %}
            <button class="delete-btn message-footer message-footer-clickable"
                onclick="deleteMessage('{{ message.id }}')">Delete</button>
            {% endif %}

            {% if not message.user_message and loop.last %}
            <button class="reprompt-btn message-footer message-footer-clickable"
                onclick="repromptMessage('{{ message.id }}')">Reprompt</button>
            {% endif %}
            {% endif %}

            <input type="hidden" class="children" value='{{ message.children | map(attribute="id") | list | tojson }}'>
            <input type="hidden" class="current-child-idx"
                value='{{ message.children.index(messages[loop.index]) if message.children }}'>
        </div>
        {% endfor %}
    </div>

    {% if not chat.completed %}
    <form method="POST" id="message-form" class="flex">
        <textarea id="message-input" type="text" name="message" rows="10" placeholder=""></textarea>
        <button type="submit" class="button-default" style="margin-left: 0.5rem">Send</button>
    </form>
    {% endif %}
</div>

<input type="hidden" id="chat-id" value="{{ chat.id }}">

<script src="{{ url_for('static',filename='scripts/chat.js') }}"></script>
{% if not chat.completed %}
<script src="{{ url_for('static',filename='scripts/chat_ws.js') }}"></script>
{% endif %}
{% endblock %}