{% extends "base.html" %}

{% block content %}
<div class="flex-1 flex flex-col p-6 overflow-y-hidden bg-zinc-900">
    <div id="message-container" class="flex-1 overflow-y-auto bg-inherit p-2 pb-16">
        {% for message in messages %}
        <div id="message-{{ message.id }}"
            class="message mb-4 w-2/3 {{ 'float-right user-message' if message.user_message else 'float-left ai-message' }} bg-zinc-700 p-4 rounded-2xl relative">
            <div class="message-text markdown-content text-white break-words whitespace-pre-wrap">{{ message.text }}
            </div>

            <hr class="block h-px border-0 border-t border-gray-600 mb-1 mt-4 p-0">
            <span class="text-sm text-slate-500">{{ moment(message.created_at).calendar() }}</span>
            <a class="text-sm text-slate-500 px-8 hover:text-slate-300"
                href="{{ url_for('chats', chat_id=chat.id, message_id=message.id) }}">{{ message.id }}</a>

            {% if not chat.completed %}
            {% if message.user_message %}
            <button class="delete-btn text-sm text-slate-500 px-8 hover:text-slate-300 cursor-pointer"
                onclick="deleteMessage('{{ message.id }}')">Delete</button>
            {% endif %}

            {% if not message.user_message and loop.last %}
            <button class="reprompt-btn text-sm text-slate-500 px-8 hover:text-slate-300 cursor-pointer"
                onclick="repromptMessage('{{ message.id }}')">Reprompt</button>
            {% endif %}
            {% endif %}

            <input type="hidden" class="children" value='{{ message.children | map(attribute="id") | list | tojson }}'>
            <input type="hidden" class="current-child-idx"
                value='{{ message.children.index(messages[loop.index]) if message.children }}'>
        </div>
        {% endfor %}
    </div>

    {% if not chat.completed %}
    <form method="POST" id="message-form" class="flex">
        <textarea id="message-input" type="text" name="message"
            class="flex-1 p-2 border rounded-2xl bg-zinc-700 text-white" rows="10" placeholder=""></textarea>
        <button type="submit"
            class="ml-2 bg-gray-500 text-white p-2 rounded hover:bg-gray-700 cursor-pointer">Send</button>
    </form>
    {% endif %}
</div>

<input type="hidden" id="chat-id" value="{{ chat.id }}">

<script src="{{ url_for('static',filename='scripts/chat.js') }}"></script>
{% if not chat.completed %}
<script src="{{ url_for('static',filename='scripts/chat_ws.js') }}"></script>
{% endif %}
{% endblock %}