/* chats and messages */
#chat-container {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  overflow-y: hidden;
  background-color: #18181b; /* zinc-900 */
}

#message-container {
  flex: 1 1 0%;
  overflow-y: auto;
  background-color: inherit;
  padding: 0.5rem;
  padding-bottom: 4rem;
}

.message {
  margin-bottom: 1rem;
  width: 66.666667%;
  background-color: #3f3f46;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
}

.user-message {
  float: right;
}

.ai-message {
  float: left;
}

.message-text {
  color: #ffffff;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.message-divider {
  margin-bottom: 0.25rem;
  margin-top: 1rem;
}

.message-footer {
  font-size: 0.875rem;
  color: oklch(0.554 0.046 257.417); /* slate-500 */
}

.message-footer-clickable {
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
}

.message-footer-clickable:hover {
  color: oklch(0.869 0.022 252.894); /* slate-300 */
}

.copy-btn {
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  top: 10px;
  right: 10px;
  position: absolute;
}

.copy-btn:hover {
  background-color: oklch(0.373 0.034 259.733); /* color-gray-700 */
}

.fork-btn {
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  top: 10px;
  right: 10px;
  position: absolute;
}

.fork-btn:hover {
  background-color: oklch(0.373 0.034 259.733); /* color-gray-700 */
}

.fork-pages {
  float: right;
  display: flex;
  flex-direction: row;
}

.fork-arrows {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#message-input {
  flex: 1 1 0%;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 1rem;
  background-color: #3f3f46; /* zinc-700 */
  color: #ffffff;
}

/* chat bubble animations and highlights */
@keyframes loadingBlink {
  0% {
    background-color: oklch(0.37 0.013 285.805); /* color-zinc-700 */
  }
  50% {
    background-color: oklch(0.552 0.016 285.938); /* color-zinc-600 */
  }
  100% {
    background-color: oklch(0.37 0.013 285.805); /* color-zinc-700 */
  }
}

.chat-loading {
  background-color: oklch(0.37 0.013 285.805); /* color-zinc-700 */
  animation: loadingBlink 2s infinite ease-in-out;
}

.chat-loading-done {
  background-color: oklch(0.37 0.013 285.805); /* color-zinc-700 */
  animation: loadingBlink 0.5s 2 ease-in-out;
}

.chat-highlight {
  background-color: oklch(0.37 0.013 285.805); /* color-zinc-700 */
  animation: loadingBlink 0.5s 1 ease-in-out;
}

.chat-error {
  background-color: oklch(0.637 0.237 25.331);
}

/* markdown */
.markdown-content h1 {
  font-size: 1.875rem;
  font-weight: bold;
}
.markdown-content h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
.markdown-content h3 {
  font-size: 1.25rem;
  font-weight: 600;
}
.markdown-content h4 {
  font-size: 1.125rem;
  font-weight: 600;
}
.markdown-content h5 {
  font-size: 1rem;
  font-weight: 600;
}
.markdown-content h6 {
  font-size: 0.875rem;
  font-weight: 600;
}

.markdown-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}
.markdown-content ol {
  list-style-type: decimal;
  padding-inline-start: 1.5rem;
}
.markdown-content li {
  margin-bottom: 0.5rem;
}

.markdown-content blockquote {
  border-left: 4px solid oklch(0.707 0.022 261.325); /* color-gray-400 */
  padding-left: 1rem;
}

.markdown-content pre {
  background-color: oklch(0.21 0.034 264.665); /* color-gray-900 */
  color: oklch(0.967 0.003 264.542); /* color-gray-100 */
  border-radius: 0.5rem;
  overflow-x: auto;
}

.markdown-content code {
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
    Courier New;
  background-color: oklch(0.446 0.03 256.802); /* color-gray-600 */
  color: oklch(0.967 0.003 264.542); /* color-gray-100 */
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
}

.markdown-content pre code {
  background-color: inherit;
}

.markdown-content a {
  color: oklch(0.746 0.16 232.661); /* color-sky-400 */
  text-decoration: underline;
}

.markdown-content a:hover {
  color: oklch(0.5 0.134 242.749); /* color-sky-700 */
}

.markdown-content table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid oklch(0.707 0.022 261.325); /* color-gray-400 */
}
.markdown-content th,
.markdown-content td {
  border: 1px solid oklch(0.707 0.022 261.325); /* color-gray-400 */
  padding: 0.5rem;
}

.markdown-content th {
  background-color: oklch(0.552 0.016 285.938); /* color-zinc-500 */
  text-align: left;
  font-weight: 600;
  border-top: 1px solid oklch(0.707 0.022 261.325); /* color-gray-400 */
  margin: 1rem 0;
}
