/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: oklch(0.552 0.016 285.938);
  border-radius: 20px;
}

body {
  display: flex;
  height: 100vh;
  background-color: oklch(0.21 0.006 285.885);
}

/* common */
.button-default {
  background-color: #6b7280; /* gray-500 */
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  text-align: center;
}

.button-default:hover {
  background-color: #4b5563; /* gray-700 */
}

.button-disabled {
  background-color: oklch(0.278 0.033 256.848); /* gray-800 */
  color: oklch(0.707 0.022 261.325); /* gray-400 */
  padding: 0.5rem;
  border-radius: 0.75rem;
  cursor: not-allowed;
  text-align: center;
}

.button-warning {
  background-color: oklch(0.637 0.237 25.331); /* red-500 */
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  text-align: center;
}

.button-warning:hover {
  background-color: oklch(0.373 0.034 259.733); /* gray-700 */
}

.small-input {
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.75rem;
  background-color: oklch(0.442 0.017 285.786);
  color: #ffffff;
}

.divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #4b5563;
  padding: 0;
}

/* misc */
.sidebar {
  width: 24rem;
  background-color: oklch(0.141 0.005 285.823);
  color: #ffffff;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-divider {
  margin: 1rem 0;
}

.admin-container {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  overflow-y: hidden;
  background-color: oklch(0.21 0.006 285.885); /* zinc-900 */
}
