<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLM Logger</title>

    <script src="{{ url_for('static',filename='scripts/tailwind.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/socketio.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/marked.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/dompurify.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body class="flex h-screen bg-gray-100">
    <div class="w-96 bg-zinc-950 text-white p-4 h-full flex flex-col">
        {% include "sidebar-chats.html" %}
    </div>

    {% block content %}{% endblock %}

    <div class="w-96 bg-zinc-950 text-white p-4 h-full flex flex-col">
        {% include "sidebar-options.html" %}
    </div>
</body>

</html>