<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4.0.1/dist/index.global.js"
        integrity="sha512-tqix7K5otXXrebx6ObPFCzjfWQavF1sQVbLsSWnociCcJwMVq7YmczHJl0TDrvHpqwflW+PqrfPb9md77wW7Ag=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"
        integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="flex h-screen bg-gray-100">
    <div class="w-96 bg-zinc-950 text-white p-4 h-full flex flex-col">
        {% include "sidebar-chats.html" %}
    </div>

    {% block content %}{% endblock %}

    <div class="w-96 bg-zinc-950 text-white p-4 h-full flex flex-col">
        {% include "sidebar-options.html" %}
    </div>
</body>

</html>