{% extends "base.html" %}

{% block content %}
<div class="flex-1 flex flex-col p-6 overflow-y-hidden bg-zinc-900">
    <div id="message-container" class="flex-1 overflow-y-auto bg-inherit p-2">
        {% for message in messages %}
        <div id="message-{{ message.id }}"
            class="mb-4 w-2/3 {{ 'float-right' if message.user_message else 'float-left' }} bg-zinc-700 p-4 rounded-2xl relative">
            <div class="markdown-content text-white whitespace-pre-wrap">{{ message.text }}</div>
            <span class="text-xs text-slate-500">{{ message.created_at }}</span>
        </div>
        {% endfor %}
    </div>

    {% if not chat.completed %}
    <form method="POST" id="message-form" class="flex">
        <textarea id="message-input" type="text" name="message"
            class="flex-1 p-2 border rounded-2xl bg-zinc-700 text-white" rows="10" placeholder=""></textarea>
        <button type="submit" class="ml-2 bg-gray-500 text-white p-2 rounded hover:bg-gray-700">Send</button>
    </form>
    {% endif %}
</div>

<input type="hidden" id="chat-id" value="{{ chat.id }}">

<script>
    function addCopyButton(codeBlock) {
        const button = document.createElement("button");
        button.classList.add("copy-btn");
        button.textContent = "Copy";

        const preBlock = codeBlock.parentNode;
        preBlock.style.position = "relative";
        preBlock.appendChild(button);

        button.addEventListener("click", () => {
            const codeText = codeBlock.textContent || codeBlock.innerText;
            navigator.clipboard
                .writeText(codeText)
                .then(() => { })
                .catch(() => { });
        });
    }

    document.querySelectorAll(".markdown-content").forEach((el) => {
        el.innerHTML = DOMPurify.sanitize(marked.parse(el.textContent));
    });

    document.querySelectorAll("pre code").forEach((el) => {
        addCopyButton(el);
        hljs.highlightElement(el);
    });
</script>

{% if not chat.completed %}
<script src="{{ url_for('static',filename='scripts/chat.js') }}"></script>
{% endif %}
{% endblock %}