{% extends "base.html" %}

{% block content %}
<div class="flex-1 flex flex-col p-6 overflow-y-hidden bg-zinc-900">
    <div id="message-container" class="flex-1 overflow-y-auto bg-inherit">
        {% for message in messages %}
        <div
            class="mb-4 w-2/3 {{ 'float-right' if message.user_message else 'float-left' }} bg-zinc-700 p-4 rounded-2xl">
            <p class="text-white whitespace-pre-wrap">{{ message.text }}</p>
            <span class="text-xs text-slate-500">{{ message.created_at }}</span>
        </div>
        {% endfor %}
    </div>

    <form method="POST" id="message-form" class="flex">
        <textarea id="message-input" type="text" name="message"
            class="flex-1 p-2 border rounded-2xl bg-zinc-700 text-white" rows="10" placeholder=""></textarea>
        <button type="submit" class="ml-2 bg-gray-500 text-white p-2 rounded">Send</button>
    </form>
</div>

<input type="hidden" id="chat-id" value="{{ chat.id }}">

<script>
    const chatId = document.getElementById("chat-id").value;
    const socket = io.connect(window.location.origin);

    socket.emit("join", chatId);

    socket.on("status", function (data) {
        console.log(data);
    });

    socket.on("new_message", function (message) {
        console.log(message);

        const messageContainer = document.getElementById("message-container");
        const messageElement = document.createElement("div");
        messageElement.classList.add("mb-4", "w-2/3", message.user_message ? "float-right" : "float-left", "bg-zinc-700",
            "p-4", "rounded-2xl");

        const textElement = document.createElement("p");
        textElement.classList.add("text-white", "whitespace-pre-wrap");
        textElement.textContent = message.text;
        messageElement.appendChild(textElement);

        const dateElement = document.createElement("span");
        dateElement.classList.add("text-xs", "text-slate-500");
        dateElement.textContent = message.created_at;
        messageElement.appendChild(dateElement);


        messageContainer.appendChild(messageElement);
        messageContainer.scrollTop = messageContainer.scrollHeight;
    });

    function sendMessage() {
        const text = document.getElementById("message-input").value;

        if (text.trim()) {
            socket.emit("send_message", {
                chat_id: chatId,
                sender: "user",
                text: text
            });

            document.getElementById("message-input").value = "";
        }
    }

    document.getElementById("message-form").onsubmit = function (event) {
        event.preventDefault();
        sendMessage();
    };

    document.getElementById("message-input").addEventListener("keypress", e => {
        if (e.key === "Enter" && !e.shiftKey) {
            e.preventDefault();
            sendMessage();
        }
    });
</script>
{% endblock %}